[Unit]
Description=Ngrok Service for Polybot
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ngrok start --config /home/ec2-user/.ngrok2/ngrok.yml
Restart=always
RestartSec=5
User=ec2-user
WorkingDirectory=/home/ec2-user/PolybotService

[Install]
WantedBy=multi-user.target