[Unit]
Description=Polybot Telegram Bot Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/PolybotService
Environment=TELEGRAM_TOKEN=7823834329:AAGAWigNdxNiU7xIyXD8l4aNg2EIlJZI2jE
Environment=YOLO_URL=http://10.0.1.37:8000/predict
Environment=S3_BUCKET_NAME=ameera-polybot-images
Environment=PYTHONPATH=/home/ec2-user/PolybotService
Environment=TELEGRAM_CHAT_URL=https://sensibly-epic-lark.ngrok-free.app
ExecStart=/home/ec2-user/PolybotService/.venv/bin/python3 polybot/app.py --port 8443
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
